{% extends 'admin/base_admin.html.twig' %}

{% block body %}

	<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
		<div class="d-flex justify-content-center w-100">
			<h1>Création d'un article</h1>
		</div>
		<a href="{{path('app_admin_article_home')}}" class="btn btn-primary mb-3">Retour à la liste</a>
		<div class="row">
			{{ form_start(articleForm)}}

			{{form_errors(articleForm)}}


			<div class="d-flex justify-content-center">
				<div class="col-md-10">
					{{form_widget(articleForm)}}
				</div>
			</div>


			{{ form_end(articleForm)}}
		</div>

	</div>
</div>{% endblock %}
